<h1>Editing aprendiz</h1>

<% form_for([@equipo, @aprendiz]) do |f| %>

<%= render 'form', :locals => {:f => f} %>

<% end %>

<%= link_to 'Show', equipo_aprendiz_path(@equipo, aprendiz) %> |
<%= link_to 'Back', equipo_aprendices_path(@equipo) %>
