<h1>Listing resultados</h1>

<% form_for :resultado, :url => { :action => "jugar" } do %>
<table border="1" cellpadding="0" cellspacing="0" align="center">
 <tr>
   <% @equipos.each do |equipo| %>
     <td><%= equipo.nombre %>
       <%= radio_button :equipo, :equipo_id, equipo.id %>
     </td>
   <% end %>
 </tr>

</table>
<br />
<br />
<table align="center" >
 <tr>
<% @preguntas.each do |pregunta| %>
 <td class="tabletd">
   <%= submit_tag "#{pregunta.id}", :name => "pregunta_id",
                       :disable_with => "espere",
                       :class => "#{estado(pregunta.estado)}",
                       :disable => true %>
 </td>

  <% if pregunta.id % 3 == 0 %>
 </tr>

 <% end %>
<% end %>
</table>

