<center><h1>Reiniciar el juego</h1></center>
<center><p>
 Este Proceso Inicializa las Tablas y Contadores para Arrancar una nueva
</p></center>
<center><p>
 prueba. Blanquea la tabla de Resultados y Cambio el estado de las
 preguntas.
  </p></center>
<center><p>
 Si esta seguro de querer hacer esto pulse <%= link_to 'Continuar',
blanquear_resultados_path %>
  </p></center>
<center><p>
 Si no esta seguro de querer hacer esto pulse <%= link_to "Salir",
resultados_path %>
  </p></center>
