<h1>Editar respuesta</h1>

<% form_for :respuesta, @respuesta,
            :url => pregunta_respuesta_path(@pregunta, @respuesta),
            :html => {:method => :put} do |f| %>

<%= render 'form', :locals => { :f => f } %>

<%= link_to 'Show', @pregunta, @respuesta %> |
<%= link_to 'Back', pregunta_respuestas_path(@pregunta) %>
