<h1>Nueva respuesta de <%= @pregunta.pregunta %></h1>

<% form_for(:respuesta, @respuesta, :url => pregunta_respuestas_path(@pregunta)) do |f| %>

<%= render 'form', :locals => { :f => f } %>

<%= link_to 'Back', preguntas_path %>
